# Solution for assignment on Lecture 14

https://course.masaischool.com/assignments/12447/

#### Required CSV files are available in my DRIVE. While providing path, you have to provide path in your Google Drive or local machine

In [ ]:
import csvs

# Q1. Births_USA

In [ ]:
path = "/content/drive/MyDrive/PT_DA_13/CSV_Assignment/births_usa.csv"

with open(path, 'r') as f:
  reader = csv.reader(f)
  # read column names
  cols = next(iter(reader))
  # read rows
  rows = []
  for i in reader:
    rows.append(i)

In [ ]:
print(cols)

['year', 'month', 'date_of_month', 'day_of_week', 'births']

In [ ]:
len(rows)

5479

In [ ]:
# sample 1 row
rows[0]

['2000', '1', '1', '6', '9083']

In [ ]:
# we are interested in month, which is available as numbers as well as births
# create a list of months

months_list = ["January", "February", "March", "April", "May", "June",
          "July", "August", "September", "October", "November", "December"]

# create a dictionary of months as keys and births as values
d = dict.fromkeys(months_list, 0)
d

{'April': 0,
 'August': 0,
 'December': 0,
 'February': 0,
 'January': 0,
 'July': 0,
 'June': 0,
 'March': 0,
 'May': 0,
 'November': 0,
 'October': 0,
 'September': 0}

In [ ]:
# iterate through all the rows in CSV file and manipulate

for row in rows:
  month_idx = int(row[1])
  birth_count = int(row[-1])

  # update in dictionary
  # month starts with 1 and ends with 12
  # but index starts with 0 and ends with 11
  month_name = months_list[month_idx-1]
  d[month_name] += birth_count

In [ ]:
# print report

for month in months_list:
  print(month, d[month], sep=" - ")

January - 5072588
February - 5063432
March - 5497007
April - 5308574
May - 5518802
June - 5511310
July - 5798317
August - 5896301
September - 5767485
October - 5658846
November - 5361118
December - 5536926

In [ ]:
# write report in a CSV file
write_path = "/content/drive/MyDrive/PT_DA_13/CSV_Assignment/births_usa_report.csv"

with open(write_path,'w') as f:
  writer = csv.writer(f)
  # write column names
  writer.writerow(['month', 'total_births'])
  # write data
  for month in months_list:
    writer.writerow([month, d[month]])

# Q2 Births_USA_2

In [ ]:
# we are interested in weekday, which is available as numbers, as well as births
# create a list of weekdays

week_list = ["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"]

# create a dictionary of weeks as keys and births as values
d1 = dict.fromkeys(week_list, 0)
d1

{'Friday': 0,
 'Monday': 0,
 'Saturday': 0,
 'Sunday': 0,
 'Thursday': 0,
 'Tuesday': 0,
 'Wednesday': 0}

In [ ]:
s=set()
for row in rows:
  s.add(row[-2]) 

s

{'1', '2', '3', '4', '5', '6', '7'}

In [ ]:
# iterate through all the rows in CSV file and manipulate

for row in rows:
  week_idx = int(row[-2])
  birth_count = int(row[-1])

  # update in dictionary
  # week starts with 1 and ends with 7
  # but index starts with 0 and ends with 6
  week_name = week_list[week_idx-1]
  d1[week_name] += birth_count

In [ ]:
# print report 
print(*week_list, sep=",")
print(*[d1[week] for week in week_list], sep=",")

Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday
9316001,10274874,10109130,10045436,9850199,6704495,5886889

In [ ]:
# write in a CSV file

write_path = "/content/drive/MyDrive/PT_DA_13/CSV_Assignment/births_usa_2_report.csv"

with open(write_path,'w') as f:
  writer = csv.writer(f)
  # write column names
  writer.writerow(week_list)
  # write data
  writer.writerow([d1[week] for week in week_list])

# Q3 Temperatures

In [ ]:
path = r"/content/drive/MyDrive/PT_DA_13/CSV_Assignment/temperatures.csv"
# /content/drive/MyDrive/PT_DA_13/CSV_Assignment/temperatures.csv \

with open(path, 'r') as file:
  reader = csv.reader(file) # iterator
  cols = next(iter(reader)) # 365
  rows = [] 

  for i in reader:
    rows.append(i)
print(cols)
print(len(rows))

['date', 'actual_mean_temp', 'actual_min_temp', 'actual_max_temp', 'average_min_temp', 'average_max_temp', 'record_min_temp', 'record_max_temp', 'record_min_temp_year', 'record_max_temp_year', 'actual_precipitation', 'average_precipitation', 'record_precipitation']
365

In [ ]:
# OR

path = r"/content/drive/MyDrive/PT_DA_13/CSV_Assignment/temperatures.csv"
# /content/drive/MyDrive/PT_DA_13/CSV_Assignment/temperatures.csv \

with open(path, 'r') as file:
  reader = csv.reader(file) # iterator
  rows = [] 

  for i in reader:
    rows.append(i)

print(len(rows))
cols = rows.pop(0)
#rows  = rows[1:] 
print(cols)
print(len(rows))

366
['date', 'actual_mean_temp', 'actual_min_temp', 'actual_max_temp', 'average_min_temp', 'average_max_temp', 'record_min_temp', 'record_max_temp', 'record_min_temp_year', 'record_max_temp_year', 'actual_precipitation', 'average_precipitation', 'record_precipitation']
365

In [ ]:
# what columns are there?
cols

['date',
 'actual_mean_temp',
 'actual_min_temp',
 'actual_max_temp',
 'average_min_temp',
 'average_max_temp',
 'record_min_temp',
 'record_max_temp',
 'record_min_temp_year',
 'record_max_temp_year',
 'actual_precipitation',
 'average_precipitation',
 'record_precipitation']

In [ ]:
# how a row looks like?
# Rs.100 
rows[3]

['2014-7-4',
 '72',
 '62',
 '82',
 '63',
 '82',
 '53',
 '103',
 '1900',
 '1907',
 '0',
 '0',
 '0.07']

In [ ]:
# year month min max
# 2014  7    62   82
# 2014  8    60  74
# 2014  9
# dict
# {key - year&month, val - [min, max]}

In [ ]:
# we are interested in month, year, actual_min_temp, actual_max_temp
summary = {} # (2014,7)

for row in rows:
  date = row[0]
  year,month,day = map(int,date.split("-"))

  actual_min_temp = int(row[2])
  actual_max_temp = int(row[3])

  # add necessary data
  # if year, month pair is new, create a key-value pair
  if (year, month) not in summary: # key is not avail
    summary[(year, month)] = [actual_min_temp, actual_max_temp]    

  else: # key already avail
    # compare and update (2014,7) : [62, 81] 
    if actual_min_temp < summary[(year, month)][0]:
      summary[(year, month)][0] = actual_min_temp 

    if actual_max_temp > summary[(year, month)][1]:
      summary[(year, month)][1] = actual_max_temp
    
len(summary)

12

In [ ]:
summary

{(2014, 7): [62, 92],
 (2014, 8): [63, 91],
 (2014, 9): [61, 103],
 (2014, 10): [59, 98],
 (2014, 11): [51, 90],
 (2014, 12): [39, 83],
 (2015, 1): [37, 85],
 (2015, 2): [46, 88],
 (2015, 3): [48, 93],
 (2015, 4): [49, 92],
 (2015, 5): [50, 84],
 (2015, 6): [58, 91]}

In [ ]:
[2014, 7, 62, 92]

In [ ]:
# write in a CSV file
write_path = "/content/drive/MyDrive/PT_DA_13/CSV_Assignment/temperatures_summary_zz.csv"
with open(write_path, 'w') as f:
  writer = csv.writer(f)

  # write column headers
  new_cols = ["year", "month", "actual_min_temp", "actual_max_temp"]
  #writer.writerow(new_cols)
  print(new_cols)
  # write data
  for key,val in sorted(summary.items()): 
    data = [key[0], key[1], val[0], val[1]]
    writer.writerow(data)
    print(data)

['year', 'month', 'actual_min_temp', 'actual_max_temp']
[2014, 7, 62, 92]
[2014, 8, 63, 91]
[2014, 9, 61, 103]
[2014, 10, 59, 98]
[2014, 11, 51, 90]
[2014, 12, 39, 83]
[2015, 1, 37, 85]
[2015, 2, 46, 88]
[2015, 3, 48, 93]
[2015, 4, 49, 92]
[2015, 5, 50, 84]
[2015, 6, 58, 91]

In [ ]:
import pandas as pd

In [ ]:
path = r"/content/drive/MyDrive/PT_DA_13/CSV_Assignment/temperatures.csv"
df = pd.read_csv(path)
df

,date,actual_mean_temp,actual_min_temp,actual_max_temp,average_min_temp,average_max_temp,record_min_temp,record_max_temp,record_min_temp_year,record_max_temp_year,actual_precipitation,average_precipitation,record_precipitation
0,2014-7-1,70,63,77,63,82,52,107,1886,1985,0.0,0.0,0.09
1,2014-7-2,70,62,77,63,82,51,102,1887,1985,0.0,0.0,0.00
2,2014-7-3,72,63,81,63,82,52,100,1902,1985,0.0,0.0,0.00
3,2014-7-4,72,62,82,63,82,53,103,1900,1907,0.0,0.0,0.07
4,2014-7-5,75,64,86,63,82,50,100,1886,1907,0.0,0.0,0.02
...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,2015-6-26,69,60,78,62,80,48,112,1894,1990,0.0,0.0,0.19
361,2015-6-27,70,62,77,62,81,49,109,1894,1990,0.0,0.0,0.39
362,2015-6-28,77,67,86,62,81,52,98,1887,1980,0.0,0.0,0.00
363,2015-6-29,80,68,91,62,81,50,98,1893,1996,0.0,0.0,0.03
364,2015-6-30,78,67,89,62,81,49,100,1894,1985,0.0,0.0,0.01

In [ ]:
df = df.iloc[:, [0,2,3]] 
df

          date  actual_min_temp  actual_max_temp
0     2014-7-1               63               77
1     2014-7-2               62               77
2     2014-7-3               63               81
3     2014-7-4               62               82
4     2014-7-5               64               86
..         ...              ...              ...
360  2015-6-26               60               78
361  2015-6-27               62               77
362  2015-6-28               67               86
363  2015-6-29               68               91
364  2015-6-30               67               89

[365 rows x 3 columns]

In [ ]:
df.date

In [ ]:
df['year'] = df.date.map(lambda x: int(x.split('-')[0]))
df['month'] = df.date.map(lambda x: int(x.split('-')[1]))
df['actual_min_temp'] = df["actual_min_temp"].map(lambda x:int(x))
df['actual_max_temp'] = df["actual_max_temp"].map(lambda x:int(x))

df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

          date  actual_min_temp  actual_max_temp  year  month
0     2014-7-1               63               77  2014      7
1     2014-7-2               62               77  2014      7
2     2014-7-3               63               81  2014      7
3     2014-7-4               62               82  2014      7
4     2014-7-5               64               86  2014      7
..         ...              ...              ...   ...    ...
360  2015-6-26               60               78  2015      6
361  2015-6-27               62               77  2015      6
362  2015-6-28               67               86  2015      6
363  2015-6-29               68               91  2015      6
364  2015-6-30               67               89  2015      6

[365 rows x 5 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date             365 non-null    object
 1   actual_min_temp  365 non-null    int64
 2   actual_max_temp  365 non-null    int64
 3   year             365 non-null    int64
 4   month            365 non-null    int64
dtypes: int64(4), object(1)
memory usage: 14.4+ KB

In [ ]:
#sum(df)
# df.sum()

In [ ]:
summary = df.groupby(['year', 'month']).agg({'actual_min_temp':'min', 'actual_max_temp':'max'}).reset_index()

In [ ]:
summary

    year  month  actual_min_temp  actual_max_temp
0   2014      7               62               92
1   2014      8               63               91
2   2014      9               61              103
3   2014     10               59               98
4   2014     11               51               90
5   2014     12               39               83
6   2015      1               37               85
7   2015      2               46               88
8   2015      3               48               93
9   2015      4               49               92
10  2015      5               50               84
11  2015      6               58               91

In [ ]:
write_path = r"/content/drive/MyDrive/PT_DA_13/CSV_Assignment/pd_summary_temperatures.csv"

summary.to_csv(write_path, index=False)