In [3]:
path1="/content/drive/MyDrive/sales_dataset/Sales_April_2019.csv"
path2="/content/drive/MyDrive/sales_dataset/Sales_August_2019.csv"
path3="/content/drive/MyDrive/sales_dataset/Sales_December_2019.csv"
path4="/content/drive/MyDrive/sales_dataset/Sales_February_2019.csv"
path5="/content/drive/MyDrive/sales_dataset/Sales_January_2019.csv"
path6="/content/drive/MyDrive/sales_dataset/Sales_July_2019.csv"
path7="/content/drive/MyDrive/sales_dataset/Sales_June_2019.csv"
path8="/content/drive/MyDrive/sales_dataset/Sales_March_2019.csv"
path9="/content/drive/MyDrive/sales_dataset/Sales_May_2019.csv"
path10="/content/drive/MyDrive/sales_dataset/Sales_November_2019.csv"
path11="/content/drive/MyDrive/sales_dataset/Sales_October_2019.csv"
path12="/content/drive/MyDrive/sales_dataset/Sales_September_2019.csv"

In [4]:
import pandas as pd

In [5]:
df1=pd.read_csv(path1)
df2=pd.read_csv(path2)
df3=pd.read_csv(path3)
df4=pd.read_csv(path4)
df5=pd.read_csv(path5)
df6=pd.read_csv(path6)
df7=pd.read_csv(path7)
df8=pd.read_csv(path8)
df9=pd.read_csv(path9)
df10=pd.read_csv(path10)
df11=pd.read_csv(path11)
df12=pd.read_csv(path12)

In [6]:
df1.shape

(18383, 6)

In [9]:
df1.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

In [10]:
df2.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,236670,Wired Headphones,2,11.99,08/31/19 22:21,"359 Spruce St, Seattle, WA 98101"
1,236671,Bose SoundSport Headphones,1,99.99,08/15/19 15:11,"492 Ridge St, Dallas, TX 75001"
2,236672,iPhone,1,700.0,08/06/19 14:40,"149 7th St, Portland, OR 97035"
3,236673,AA Batteries (4-pack),2,3.84,08/29/19 20:59,"631 2nd St, Los Angeles, CA 90001"
4,236674,AA Batteries (4-pack),2,3.84,08/15/19 19:53,"736 14th St, New York City, NY 10001"

In [11]:
help(pd.concat)

Help on function concat in module pandas.core.reshape.concat:

concat(objs: 'Iterable[NDFrame] | Mapping[Hashable, NDFrame]', axis=0, join='outer', ignore_index: 'bool' = False, keys=None, levels=None, names=None, verify_integrity: 'bool' = False, sort: 'bool' = False, copy: 'bool' = True) -> 'FrameOrSeriesUnion'
    Concatenate pandas objects along a particular axis with optional set logic
    along the other axes.

    Can also add a layer of hierarchical indexing on the concatenation axis,
    which may be useful if the labels are the same (or overlapping) on
    the passed axis number.

    Parameters
    ----------
    objs : a sequence or mapping of Series or DataFrame objects
        If a mapping is passed, the sorted keys will be used as the `keys`
        argument, unless it is passed, in which case the values will be
        selected (see below). Any None objects will be dropped silently unless
        they are all None in which case a ValueError will be raised.
    axis : {0/'index', 1/'columns'}, default 0
        The axis to concatenate along.
    join : {'inner', 'outer'}, default 'outer'
        How to handle indexes on other axis (or axes).
    ignore_index : bool, default False
        If True, do not use the index values along the concatenation axis. The
        resulting axis will be labeled 0, ..., n - 1. This is useful if you are
        concatenating objects where the concatenation axis does not have
        meaningful indexing information. Note the index values on the other
        axes are still respected in the join.
    keys : sequence, default None
        If multiple levels passed, should contain tuples. Construct
        hierarchical index using the passed keys as the outermost level.
    levels : list of sequences, default None
        Specific levels (unique values) to use for constructing a
        MultiIndex. Otherwise they will be inferred from the keys.
    names : list, default None
        Names for the levels in the resulting hierarchical index.
    verify_integrity : bool, default False
        Check whether the new concatenated axis contains duplicates. This can
        be very expensive relative to the actual data concatenation.
    sort : bool, default False
        Sort non-concatenation axis if it is not already aligned when `join`
        is 'outer'.
        This has no effect when ``join='inner'``, which already preserves
        the order of the non-concatenation axis.

        .. versionchanged:: 1.0.0

           Changed to not sort by default.

    copy : bool, default True
        If False, do not copy data unnecessarily.

    Returns
    -------
    object, type of objs
        When concatenating all ``Series`` along the index (axis=0), a
        ``Series`` is returned. When ``objs`` contains at least one
        ``DataFrame``, a ``DataFrame`` is returned. When concatenating along
        the columns (axis=1), a ``DataFrame`` is returned.

    See Also
    --------
    Series.append : Concatenate Series.
    DataFrame.append : Concatenate DataFrames.
    DataFrame.join : Join DataFrames using indexes.
    DataFrame.merge : Merge DataFrames by indexes or columns.

    Notes
    -----
    The keys, levels, and names arguments are all optional.

    A walkthrough of how this method fits in with other tools for combining
    pandas objects can be found `here
    <https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html>`__.

    Examples
    --------
    Combine two ``Series``.

    >>> s1 = pd.Series(['a', 'b'])
    >>> s2 = pd.Series(['c', 'd'])
    >>> pd.concat([s1, s2])
    0    a
    1    b
    0    c
    1    d
    dtype: object

    Clear the existing index and reset it in the result
    by setting the ``ignore_index`` option to ``True``.

    >>> pd.concat([s1, s2], ignore_index=True)
    0    a
    1    b
    2    c
    3    d
    dtype: object

    Add a hierarchical index at the outermost level of
    the data with the ``keys`` option.

    >>> pd.concat([s1, s2], keys=['s1', 's2'])
    s1  0    a
        1    b
    s2  0    c
        1    d
    dtype: object

    Label the index keys you create with the ``names`` option.

    >>> pd.concat([s1, s2], keys=['s1', 's2'],
    ...           names=['Series name', 'Row ID'])
    Series name  Row ID
    s1           0         a
                 1         b
    s2           0         c
                 1         d
    dtype: object

    Combine two ``DataFrame`` objects with identical columns.

    >>> df1 = pd.DataFrame([['a', 1], ['b', 2]],
    ...                    columns=['letter', 'number'])
    >>> df1
      letter  number
    0      a       1
    1      b       2
    >>> df2 = pd.DataFrame([['c', 3], ['d', 4]],
    ...                    columns=['letter', 'number'])
    >>> df2
      letter  number
    0      c       3
    1      d       4
    >>> pd.concat([df1, df2])
      letter  number
    0      a       1
    1      b       2
    0      c       3
    1      d       4

    Combine ``DataFrame`` objects with overlapping columns
    and return everything. Columns outside the intersection will
    be filled with ``NaN`` values.

    >>> df3 = pd.DataFrame([['c', 3, 'cat'], ['d', 4, 'dog']],
    ...                    columns=['letter', 'number', 'animal'])
    >>> df3
      letter  number animal
    0      c       3    cat
    1      d       4    dog
    >>> pd.concat([df1, df3], sort=False)
      letter  number animal
    0      a       1    NaN
    1      b       2    NaN
    0      c       3    cat
    1      d       4    dog

    Combine ``DataFrame`` objects with overlapping columns
    and return only those that are shared by passing ``inner`` to
    the ``join`` keyword argument.

    >>> pd.concat([df1, df3], join="inner")
      letter  number
    0      a       1
    1      b       2
    0      c       3
    1      d       4

    Combine ``DataFrame`` objects horizontally along the x axis by
    passing in ``axis=1``.

    >>> df4 = pd.DataFrame([['bird', 'polly'], ['monkey', 'george']],
    ...                    columns=['animal', 'name'])
    >>> pd.concat([df1, df4], axis=1)
      letter  number  animal    name
    0      a       1    bird   polly
    1      b       2  monkey  george

    Prevent the result from including duplicate index values with the
    ``verify_integrity`` option.

    >>> df5 = pd.DataFrame([1], index=['a'])
    >>> df5
       0
    a  1
    >>> df6 = pd.DataFrame([2], index=['a'])
    >>> df6
       0
    a  2
    >>> pd.concat([df5, df6], verify_integrity=True)
    Traceback (most recent call last):
        ...
    ValueError: Indexes have overlapping values: ['a']

In [12]:
df=pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12],axis=0)

In [13]:
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

In [14]:
df.shape

(186850, 6)

In [15]:
#step1... Checking nulls
df.isnull().sum()

Order ID            545
Product             545
Quantity Ordered    545
Price Each          545
Order Date          545
Purchase Address    545
dtype: int64

In [16]:
df[df.isnull()]

      Order ID Product Quantity Ordered Price Each Order Date Purchase Address
0          NaN     NaN              NaN        NaN        NaN              NaN
1          NaN     NaN              NaN        NaN        NaN              NaN
2          NaN     NaN              NaN        NaN        NaN              NaN
3          NaN     NaN              NaN        NaN        NaN              NaN
4          NaN     NaN              NaN        NaN        NaN              NaN
...        ...     ...              ...        ...        ...              ...
11681      NaN     NaN              NaN        NaN        NaN              NaN
11682      NaN     NaN              NaN        NaN        NaN              NaN
11683      NaN     NaN              NaN        NaN        NaN              NaN
11684      NaN     NaN              NaN        NaN        NaN              NaN
11685      NaN     NaN              NaN        NaN        NaN              NaN

[186850 rows x 6 columns]

In [17]:
df.dropna(axis=0)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"
...,...,...,...,...,...,...
11681,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001"
11682,259354,iPhone,1,700,09/01/19 16:00,"216 Dogwood St, San Francisco, CA 94016"
11683,259355,iPhone,1,700,09/23/19 07:39,"220 12th St, San Francisco, CA 94016"
11684,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016"
11685,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016"

In [18]:
df.shape

(186850, 6)

In [19]:
df.dropna(axis=0,inplace=True)

In [20]:
df.shape

(186305, 6)

In [21]:
# 2nd step.. dropping duplicates
df.drop_duplicates(inplace=True)

In [22]:
df.shape

(185687, 6)

In [23]:
#step3.. Checking for wrong datatype
df.info()
# Since all the Dtype is present as object, we need to change into appropriate datatype

<class 'pandas.core.frame.DataFrame'>
Int64Index: 185687 entries, 0 to 11685
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          185687 non-null  object
 1   Product           185687 non-null  object
 2   Quantity Ordered  185687 non-null  object
 3   Price Each        185687 non-null  object
 4   Order Date        185687 non-null  object
 5   Purchase Address  185687 non-null  object
dtypes: object(6)
memory usage: 9.9+ MB

In [24]:
# We are interested in changing order id into integer from object
# let us change that using a simple expression
import numpy as np
#  df["Order ID"]=df["Order ID"].astype(np.int64)
df["Order ID"]=df["Order ID"].astype(np.int64)

ValueError: ignored

In [25]:
# The error says there is an order ID present in place of integer value so we cannot change all the valeus into integer
# we need to deleter that particular entity from the column and then it would be possible to convert 

# Lets see if we have that order Id present in the column 
df[df["Order ID"]=='Order ID']

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
519,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address

In [26]:
# We can see it clearly that the 519th row contains all strings rather than integers. Need to be changed 
# Let's find out the other values except this 519th row and save that into a new data frame
df=df[df["Order ID"]!='Order ID']
# We can reduce datafame data by one row see below... we got 185686 earlier it was 1..87

In [27]:
df.shape

(185686, 6)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 185686 entries, 0 to 11685
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          185686 non-null  object
 1   Product           185686 non-null  object
 2   Quantity Ordered  185686 non-null  object
 3   Price Each        185686 non-null  object
 4   Order Date        185686 non-null  object
 5   Purchase Address  185686 non-null  object
dtypes: object(6)
memory usage: 9.9+ MB

In [29]:
# we still din't convert the object into integer for order id column. We have to apply inplace=True
#Lets do that!
df["Order ID"]=df["Order ID"].astype(np.int64)

In [30]:
df.info()
# After this expression you could have chagned onject dtype to int64 dtype successfully for reference you can run it and see it below.

<class 'pandas.core.frame.DataFrame'>
Int64Index: 185686 entries, 0 to 11685
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          185686 non-null  int64
 1   Product           185686 non-null  object
 2   Quantity Ordered  185686 non-null  object
 3   Price Each        185686 non-null  object
 4   Order Date        185686 non-null  object
 5   Purchase Address  185686 non-null  object
dtypes: int64(1), object(5)
memory usage: 9.9+ MB

In [31]:
# Similarly we can change other columns datatype into the desired dtype 
df["Quantity Ordered"]=df["Quantity Ordered"].astype(np.int64)

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 185686 entries, 0 to 11685
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          185686 non-null  int64
 1   Product           185686 non-null  object
 2   Quantity Ordered  185686 non-null  int64
 3   Price Each        185686 non-null  object
 4   Order Date        185686 non-null  object
 5   Purchase Address  185686 non-null  object
dtypes: int64(2), object(4)
memory usage: 9.9+ MB

In [33]:
# Similarly we can change other columns datatype into the desired dtype 
df["Price Each"]=df["Price Each"].astype(np.float)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 185686 entries, 0 to 11685
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          185686 non-null  int64
 1   Product           185686 non-null  object
 2   Quantity Ordered  185686 non-null  int64
 3   Price Each        185686 non-null  float64
 4   Order Date        185686 non-null  object
 5   Purchase Address  185686 non-null  object
dtypes: float64(1), int64(2), object(3)
memory usage: 9.9+ MB

In [35]:
# Now will see how can order date be chnaged from obejct into datetime
# df["Order Date"]=pd.to_datetime(df["Order Date"])
df["Order Date"]=df["Order Date"].astype(np.datetime64)  # Both can work

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 185686 entries, 0 to 11685
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          185686 non-null  int64
 1   Product           185686 non-null  object
 2   Quantity Ordered  185686 non-null  int64
 3   Price Each        185686 non-null  float64
 4   Order Date        185686 non-null  datetime64[ns]
 5   Purchase Address  185686 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(2), object(2)
memory usage: 9.9+ MB

In [37]:
# Now our data is ready for visualization or manupulation
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,2019-04-19 08:46:00,"917 1st St, Dallas, TX 75001"
2,176559,Bose SoundSport Headphones,1,99.99,2019-04-07 22:30:00,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600.00,2019-04-12 14:38:00,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,2019-04-12 14:38:00,"669 Spruce St, Los Angeles, CA 90001"
5,176561,Wired Headphones,1,11.99,2019-04-30 09:27:00,"333 8th St, Los Angeles, CA 90001"

In [52]:
df.reset_index()

,index,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Order Amount
0,0,176558,USB-C Charging Cable,2,11.95,2019-04-19 08:46:00,"917 1st St, Dallas, TX 75001",23.90
1,2,176559,Bose SoundSport Headphones,1,99.99,2019-04-07 22:30:00,"682 Chestnut St, Boston, MA 02215",99.99
2,3,176560,Google Phone,1,600.00,2019-04-12 14:38:00,"669 Spruce St, Los Angeles, CA 90001",600.00
3,4,176560,Wired Headphones,1,11.99,2019-04-12 14:38:00,"669 Spruce St, Los Angeles, CA 90001",11.99
4,5,176561,Wired Headphones,1,11.99,2019-04-30 09:27:00,"333 8th St, Los Angeles, CA 90001",11.99
...,...,...,...,...,...,...,...,...
185681,11681,259353,AAA Batteries (4-pack),3,2.99,2019-09-17 20:56:00,"840 Highland St, Los Angeles, CA 90001",8.97
185682,11682,259354,iPhone,1,700.00,2019-09-01 16:00:00,"216 Dogwood St, San Francisco, CA 94016",700.00
185683,11683,259355,iPhone,1,700.00,2019-09-23 07:39:00,"220 12th St, San Francisco, CA 94016",700.00
185684,11684,259356,34in Ultrawide Monitor,1,379.99,2019-09-19 17:30:00,"511 Forest St, San Francisco, CA 94016",379.99
185685,11685,259357,USB-C Charging Cable,1,11.95,2019-09-30 00:18:00,"250 Meadow St, San Francisco, CA 94016",11.95

In [61]:
# df['Order ID'].nunique()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 185686 entries, 0 to 11685
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          185686 non-null  int64
 1   Product           185686 non-null  object
 2   Quantity Ordered  185686 non-null  int64
 3   Price Each        185686 non-null  float64
 4   Order Date        185686 non-null  datetime64[ns]
 5   Purchase Address  185686 non-null  object
 6   Order Amount      185686 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(2), object(2)
memory usage: 11.3+ MB

In [38]:
# Lets confirm whether our data is perfectly fine without nulls, duplicates and wrong datatypes

df.isnull().sum()

Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Order Date          0
Purchase Address    0
dtype: int64

In [39]:
df.isnull().any()

Order ID            False
Product             False
Quantity Ordered    False
Price Each          False
Order Date          False
Purchase Address    False
dtype: bool

In [40]:
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,2019-04-19 08:46:00,"917 1st St, Dallas, TX 75001"
2,176559,Bose SoundSport Headphones,1,99.99,2019-04-07 22:30:00,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600.00,2019-04-12 14:38:00,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,2019-04-12 14:38:00,"669 Spruce St, Los Angeles, CA 90001"
5,176561,Wired Headphones,1,11.99,2019-04-30 09:27:00,"333 8th St, Los Angeles, CA 90001"

In [41]:
#We can also create a calculated field to have mathematical calculations 

df["Order Amount"]=df["Quantity Ordered"]*df["Price Each"]

In [42]:
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Order Amount
0,176558,USB-C Charging Cable,2,11.95,2019-04-19 08:46:00,"917 1st St, Dallas, TX 75001",23.90
2,176559,Bose SoundSport Headphones,1,99.99,2019-04-07 22:30:00,"682 Chestnut St, Boston, MA 02215",99.99
3,176560,Google Phone,1,600.00,2019-04-12 14:38:00,"669 Spruce St, Los Angeles, CA 90001",600.00
4,176560,Wired Headphones,1,11.99,2019-04-12 14:38:00,"669 Spruce St, Los Angeles, CA 90001",11.99
5,176561,Wired Headphones,1,11.99,2019-04-30 09:27:00,"333 8th St, Los Angeles, CA 90001",11.99

In [43]:
# You can save your entire work into your drive or at any location that you want to have it

df.to_csv("/content/drive/MyDrive/Data_Cleaning_salesDate.csv")

In [44]:
#Now, I would like to analise group by opertion on given DataFrame
df.columns

Index(['Order ID', 'Product', 'Quantity Ordered', 'Price Each', 'Order Date',
       'Purchase Address', 'Order Amount'],
      dtype='object')

In [63]:
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Order Amount
0,176558,USB-C Charging Cable,2,11.95,2019-04-19 08:46:00,"917 1st St, Dallas, TX 75001",23.90
2,176559,Bose SoundSport Headphones,1,99.99,2019-04-07 22:30:00,"682 Chestnut St, Boston, MA 02215",99.99
3,176560,Google Phone,1,600.00,2019-04-12 14:38:00,"669 Spruce St, Los Angeles, CA 90001",600.00
4,176560,Wired Headphones,1,11.99,2019-04-12 14:38:00,"669 Spruce St, Los Angeles, CA 90001",11.99
5,176561,Wired Headphones,1,11.99,2019-04-30 09:27:00,"333 8th St, Los Angeles, CA 90001",11.99

In [65]:
df.groupby(['Product']).sum() # sum() function returns sum of the  values of each column. But I'm interested in finding the sum of values of a particular column

,Order ID,Quantity Ordered,Price Each,Order Amount
Product,,,,
20in Monitor,950247721,4126,450739.02,453818.74
27in 4K Gaming Monitor,1441314778,6239,2427687.75,2433147.61
27in FHD Monitor,1722024291,7541,1124625.02,1131074.59
34in Ultrawide Monitor,1417418331,6192,2346058.26,2352898.08
AA Batteries (4-pack),4739758630,27615,78942.72,106041.60
AAA Batteries (4-pack),4758103011,30986,61629.88,92648.14
Apple Airpods Headphones,3573531925,15637,2328750.00,2345550.00
Bose SoundSport Headphones,3065241918,13430,1329667.02,1342865.70
Flatscreen TV,1109428389,4813,1438200.00,1443900.00
Google Phone,1261584746,5529,3313200.00,3317400.00
LG Dryer,146556268,646,387600.00,387600.00
LG Washing Machine,150718688,666,399600.00,399600.00
Lightning Charging Cable,4982889323,23169,323069.50,346376.55
Macbook Pro Laptop,1091256652,4725,8025700.00,8032500.00
ThinkPad Laptop,948171289,4128,4125958.74,4127958.72
USB-C Charging Cable,5039593237,23931,261215.05,285975.45
Vareebadd Phone,472532509,2068,826000.00,827200.00
Wired Headphones,4342771235,20524,225999.51,246082.76
iPhone,1571023865,6847,4788000.00,4792900.00

In [67]:
df.groupby(['Product','Order Amount']).sum('Order Amount')

                                           Order ID  Quantity Ordered  \
Product                    Order Amount
20in Monitor               109.99         944064388              4070
                           219.98           6183333                56
27in 4K Gaming Monitor     389.99        1438117524              6211
                           779.98           3197254                28
27in FHD Monitor           149.99        1711934633              7455
                           299.98          10089658                86
34in Ultrawide Monitor     379.99        1413349415              6156
                           759.98           4068916                36
AA Batteries (4-pack)      3.84          3533663684             15315
                           7.68           890559602              7746
                           11.52          237366744              3099
                           15.36           57640651              1000
                           19.20           15980852               345
                           23.04            4022203                96
                           26.88             524894                14
AAA Batteries (4-pack)     2.99          3160296766             13699
                           5.98          1069476110              9256
                           8.97           346863356              4506
                           11.96          122255670              2096
                           14.95           37156502               830
                           17.94           14977984               378
                           20.93            5118379               154
                           23.92            1293568                40
                           26.91             664676                27
Apple Airpods Headphones   150.00        3547401405             15414
                           300.00          25820569               220
                           450.00            309951                 3
Bose SoundSport Headphones 99.99         3034597982             13168
                           199.98          30197037               256
                           299.97            446899                 6
Flatscreen TV              300.00        1104837904              4775
                           600.00           4590485                38
Google Phone               600.00        1260139048              5515
                           1200.00          1445698                14
LG Dryer                   600.00         146556268               646
LG Washing Machine         600.00         150718688               666
Lightning Charging Cable   14.95         4650500635             20162
                           29.90          309119312              2688
                           44.85           21752019               291
                           59.80            1517357                28
Macbook Pro Laptop         1700.00       1090483219              4717
                           3400.00           773433                 8
ThinkPad Laptop            999.99         947743041              4124
                           1999.98           428248                 4
USB-C Charging Cable       11.95         4605982479             19975
                           23.90          395314778              3426
                           35.85           35146676               471
                           47.80            2735455                48
                           59.75             226852                 5
                           71.70             186997                 6
Vareebadd Phone            400.00         471903702              2062
                           800.00            628807                 6
Wired Headphones           11.99         3994183319             17328
                           23.98          315932555              2760
                           35.97           29591293               384
                           47.96            3064068                52
iPhone                     700.00        1569443641              6833
                           1400.00          1580224                14

                                         Price Each
Product                    Order Amount
20in Monitor               109.99         447659.30
                           219.98           3079.72
27in 4K Gaming Monitor     389.99        2422227.89
                           779.98           5459.86
27in FHD Monitor           149.99        1118175.45
                           299.98           6449.57
34in Ultrawide Monitor     379.99        2339218.44
                           759.98           6839.82
AA Batteries (4-pack)      3.84            58809.60
                           7.68            14872.32
                           11.52            3966.72
                           15.36             960.00
                           19.20             264.96
                           23.04              61.44
                           26.88               7.68
AAA Batteries (4-pack)     2.99            40960.01
                           5.98            13837.72
                           8.97             4490.98
                           11.96            1566.76
                           14.95             496.34
                           17.94             188.37
                           20.93              65.78
                           23.92              14.95
                           26.91               8.97
Apple Airpods Headphones   150.00        2312100.00
                           300.00          16500.00
                           450.00            150.00
Bose SoundSport Headphones 99.99         1316668.32
                           199.98          12798.72
                           299.97            199.98
Flatscreen TV              300.00        1432500.00
                           600.00           5700.00
Google Phone               600.00        3309000.00
                           1200.00          4200.00
LG Dryer                   600.00         387600.00
LG Washing Machine         600.00         399600.00
Lightning Charging Cable   14.95          301421.90
                           29.90           20092.80
                           44.85            1450.15
                           59.80             104.65
Macbook Pro Laptop         1700.00       8018900.00
                           3400.00          6800.00
ThinkPad Laptop            999.99        4123958.76
                           1999.98          1999.98
USB-C Charging Cable       11.95          238701.25
                           23.90           20470.35
                           35.85            1876.15
                           47.80             143.40
                           59.75              11.95
                           71.70              11.95
Vareebadd Phone            400.00         824800.00
                           800.00           1200.00
Wired Headphones           11.99          207762.72
                           23.98           16546.20
                           35.97            1534.72
                           47.96             155.87
iPhone                     700.00        4783100.00
                           1400.00          4900.00

In [70]:
df[['Product','Order Amount']].groupby('Product').sum() # Right approach for group by @ certain column

                            Order Amount
Product
20in Monitor                   453818.74
27in 4K Gaming Monitor        2433147.61
27in FHD Monitor              1131074.59
34in Ultrawide Monitor        2352898.08
AA Batteries (4-pack)          106041.60
AAA Batteries (4-pack)          92648.14
Apple Airpods Headphones      2345550.00
Bose SoundSport Headphones    1342865.70
Flatscreen TV                 1443900.00
Google Phone                  3317400.00
LG Dryer                       387600.00
LG Washing Machine             399600.00
Lightning Charging Cable       346376.55
Macbook Pro Laptop            8032500.00
ThinkPad Laptop               4127958.72
USB-C Charging Cable           285975.45
Vareebadd Phone                827200.00
Wired Headphones               246082.76
iPhone                        4792900.00

In [71]:
df[['Product','Order Amount']].groupby('Product',as_index=False).sum()

                       Product  Order Amount
0                 20in Monitor     453818.74
1       27in 4K Gaming Monitor    2433147.61
2             27in FHD Monitor    1131074.59
3       34in Ultrawide Monitor    2352898.08
4        AA Batteries (4-pack)     106041.60
5       AAA Batteries (4-pack)      92648.14
6     Apple Airpods Headphones    2345550.00
7   Bose SoundSport Headphones    1342865.70
8                Flatscreen TV    1443900.00
9                 Google Phone    3317400.00
10                    LG Dryer     387600.00
11          LG Washing Machine     399600.00
12    Lightning Charging Cable     346376.55
13          Macbook Pro Laptop    8032500.00
14             ThinkPad Laptop    4127958.72
15        USB-C Charging Cable     285975.45
16             Vareebadd Phone     827200.00
17            Wired Headphones     246082.76
18                      iPhone    4792900.00

In [79]:
df.groupby('Product').agg(['count','sum','mean'])

                           Order ID                             \
                              count         sum           mean
Product
20in Monitor                   4098   950247721  231880.849439
27in 4K Gaming Monitor         6225  1441314778  231536.510522
27in FHD Monitor               7498  1722024291  229664.482662
34in Ultrawide Monitor         6174  1417418331  229578.608844
AA Batteries (4-pack)         20558  4739758630  230555.434867
AAA Batteries (4-pack)        20612  4758103011  230841.403600
Apple Airpods Headphones      15525  3573531925  230179.190016
Bose SoundSport Headphones    13298  3065241918  230503.979395
Flatscreen TV                  4794  1109428389  231420.189612
Google Phone                   5522  1261584746  228465.183991
LG Dryer                        646   146556268  226867.287926
LG Washing Machine              666   150718688  226304.336336
Lightning Charging Cable      21610  4982889323  230582.569320
Macbook Pro Laptop             4721  1091256652  231149.470875
ThinkPad Laptop                4126   948171289  229803.996365
USB-C Charging Cable          21859  5039593237  230550.036003
Vareebadd Phone                2065   472532509  228829.302179
Wired Headphones              18849  4342771235  230397.964614
iPhone                         6840  1571023865  229681.851608

                           Quantity Ordered                  Price Each  \
                                      count    sum      mean      count
Product
20in Monitor                           4098   4126  1.006833       4098
27in 4K Gaming Monitor                 6225   6239  1.002249       6225
27in FHD Monitor                       7498   7541  1.005735       7498
34in Ultrawide Monitor                 6174   6192  1.002915       6174
AA Batteries (4-pack)                 20558  27615  1.343273      20558
AAA Batteries (4-pack)                20612  30986  1.503299      20612
Apple Airpods Headphones              15525  15637  1.007214      15525
Bose SoundSport Headphones            13298  13430  1.009926      13298
Flatscreen TV                          4794   4813  1.003963       4794
Google Phone                           5522   5529  1.001268       5522
LG Dryer                                646    646  1.000000        646
LG Washing Machine                      666    666  1.000000        666
Lightning Charging Cable              21610  23169  1.072143      21610
Macbook Pro Laptop                     4721   4725  1.000847       4721
ThinkPad Laptop                        4126   4128  1.000485       4126
USB-C Charging Cable                  21859  23931  1.094789      21859
Vareebadd Phone                        2065   2068  1.001453       2065
Wired Headphones                      18849  20524  1.088864      18849
iPhone                                 6840   6847  1.001023       6840

                                                Order Amount              \
                                   sum     mean        count         sum
Product
20in Monitor                 450739.02   109.99         4098   453818.74
27in 4K Gaming Monitor      2427687.75   389.99         6225  2433147.61
27in FHD Monitor            1124625.02   149.99         7498  1131074.59
34in Ultrawide Monitor      2346058.26   379.99         6174  2352898.08
AA Batteries (4-pack)         78942.72     3.84        20558   106041.60
AAA Batteries (4-pack)        61629.88     2.99        20612    92648.14
Apple Airpods Headphones    2328750.00   150.00        15525  2345550.00
Bose SoundSport Headphones  1329667.02    99.99        13298  1342865.70
Flatscreen TV               1438200.00   300.00         4794  1443900.00
Google Phone                3313200.00   600.00         5522  3317400.00
LG Dryer                     387600.00   600.00          646   387600.00
LG Washing Machine           399600.00   600.00          666   399600.00
Lightning Charging Cable     323069.50    14.95        21610   346376.55
Macbook Pro Laptop          8025700.00  1700.00         4721  8032500.00
ThinkPad Laptop             4125958.74   999.99         4126  4127958.72
USB-C Charging Cable         261215.05    11.95        21859   285975.45
Vareebadd Phone              826000.00   400.00         2065   827200.00
Wired Headphones             225999.51    11.99        18849   246082.76
iPhone                      4788000.00   700.00         6840  4792900.00


                                   mean
Product
20in Monitor                 110.741518
27in 4K Gaming Monitor       390.867086
27in FHD Monitor             150.850172
34in Ultrawide Monitor       381.097843
AA Batteries (4-pack)          5.158167
AAA Batteries (4-pack)         4.494864
Apple Airpods Headphones     151.082126
Bose SoundSport Headphones   100.982531
Flatscreen TV                301.188986
Google Phone                 600.760594
LG Dryer                     600.000000
LG Washing Machine           600.000000
Lightning Charging Cable      16.028531
Macbook Pro Laptop          1701.440373
ThinkPad Laptop             1000.474726
USB-C Charging Cable          13.082733
Vareebadd Phone              400.581114
Wired Headphones              13.055481
iPhone                       700.716374

In [78]:
df.groupby('Product',as_index=False).agg({'Order ID':'count',
                           'Quantity Ordered':['mean','sum'],
                           'Order Amount':'sum'})

                       Product Order ID Quantity Ordered        Order Amount
                                  count             mean    sum          sum
0                 20in Monitor     4098         1.006833   4126    453818.74
1       27in 4K Gaming Monitor     6225         1.002249   6239   2433147.61
2             27in FHD Monitor     7498         1.005735   7541   1131074.59
3       34in Ultrawide Monitor     6174         1.002915   6192   2352898.08
4        AA Batteries (4-pack)    20558         1.343273  27615    106041.60
5       AAA Batteries (4-pack)    20612         1.503299  30986     92648.14
6     Apple Airpods Headphones    15525         1.007214  15637   2345550.00
7   Bose SoundSport Headphones    13298         1.009926  13430   1342865.70
8                Flatscreen TV     4794         1.003963   4813   1443900.00
9                 Google Phone     5522         1.001268   5529   3317400.00
10                    LG Dryer      646         1.000000    646    387600.00
11          LG Washing Machine      666         1.000000    666    399600.00
12    Lightning Charging Cable    21610         1.072143  23169    346376.55
13          Macbook Pro Laptop     4721         1.000847   4725   8032500.00
14             ThinkPad Laptop     4126         1.000485   4128   4127958.72
15        USB-C Charging Cable    21859         1.094789  23931    285975.45
16             Vareebadd Phone     2065         1.001453   2068    827200.00
17            Wired Headphones    18849         1.088864  20524    246082.76
18                      iPhone     6840         1.001023   6847   4792900.00