In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("/content/sales.csv")

In [4]:
df.head()

,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
0,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.9600,2,0.00,41.9136
1,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,731.9400,3,0.00,219.5820
2,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,14.6200,2,0.00,6.8714
3,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5,0.45,-383.0310
4,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,22.3680,2,0.20,2.5164

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Ship Mode     9994 non-null   object
 1   Segment       9994 non-null   object
 2   Country       9994 non-null   object
 3   City          9994 non-null   object
 4   State         9994 non-null   object
 5   Postal Code   9994 non-null   int64
 6   Region        9994 non-null   object
 7   Category      9994 non-null   object
 8   Sub-Category  9994 non-null   object
 9   Sales         9994 non-null   float64
 10  Quantity      9994 non-null   int64
 11  Discount      9994 non-null   float64
 12  Profit        9994 non-null   float64
dtypes: float64(3), int64(2), object(8)
memory usage: 1015.1+ KB

In [8]:
Res=df.groupby(["State"]).agg({'Sales':'sum','Quantity':'sum','Profit':'sum'}).reset_index()

In [9]:
Res

                   State        Sales  Quantity      Profit
0                Alabama   19510.6400       256   5786.8253
1                Arizona   35282.0010       862  -3427.9246
2               Arkansas   11678.1300       240   4008.6871
3             California  457687.6315      7667  76381.3871
4               Colorado   32108.1180       693  -6527.8579
5            Connecticut   13384.3570       281   3511.4918
6               Delaware   27451.0690       367   9977.3748
7   District of Columbia    2865.0200        40   1059.5893
8                Florida   89473.7080      1379  -3399.3017
9                Georgia   49095.8400       705  16250.0433
10                 Idaho    4382.4860        64    826.7231
11              Illinois   80166.1010      1845 -12607.8870
12               Indiana   53555.3600       578  18382.9363
13                  Iowa    4579.7600       112   1183.8119
14                Kansas    2914.3100        74    836.4435
15              Kentucky   36591.7500       523  11199.6966
16             Louisiana    9217.0300       156   2196.1023
17                 Maine    1270.5300        35    454.4862
18              Maryland   23705.5230       420   7031.1788
19         Massachusetts   28634.4340       491   6785.5016
20              Michigan   76269.6140       946  24463.1876
21             Minnesota   29863.1500       331  10823.1874
22           Mississippi   10771.3400       221   3172.9762
23              Missouri   22205.1500       252   6436.2105
24               Montana    5589.3520        56   1833.3285
25              Nebraska    7464.9300       136   2037.0942
26                Nevada   16729.1020       168   3316.7659
27         New Hampshire    7292.5240       127   1706.5028
28            New Jersey   35764.3120       454   9772.9138
29            New Mexico    4783.5220       151   1157.1161
30              New York  310876.2710      4224  74038.5486
31        North Carolina   55603.1640       983  -7490.9122
32          North Dakota     919.9100        30    230.1497
33                  Ohio   78258.1360      1759 -16971.3766
34              Oklahoma   19683.3900       247   4853.9560
35                Oregon   17431.1500       499  -1190.4705
36          Pennsylvania  116511.9140      2153 -15559.9603
37          Rhode Island   22627.9560       199   7285.6293
38        South Carolina    8481.7100       172   1769.0566
39          South Dakota    1315.5600        42    394.8283
40             Tennessee   30661.8730       681  -5341.6936
41                 Texas  170188.0458      3724 -25729.3563
42                  Utah   11220.0560       219   2546.5335
43               Vermont    8929.3700        50   2244.9783
44              Virginia   70636.7200       893  18597.9504
45            Washington  138641.2700      1883  33402.6517
46         West Virginia    1209.8240        18    185.9216
47             Wisconsin   32114.6100       463   8401.8004
48               Wyoming    1603.1360         4    100.1960

In [10]:
df.head(4)

,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
0,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.9600,2,0.00,41.9136
1,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,731.9400,3,0.00,219.5820
2,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,14.6200,2,0.00,6.8714
3,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5,0.45,-383.0310

In [12]:
df1=df.iloc[:,[4,9,10,12]]

In [13]:
df1

           State     Sales  Quantity    Profit
0       Kentucky  261.9600         2   41.9136
1       Kentucky  731.9400         3  219.5820
2     California   14.6200         2    6.8714
3        Florida  957.5775         5 -383.0310
4        Florida   22.3680         2    2.5164
...          ...       ...       ...       ...
9989     Florida   25.2480         3    4.1028
9990  California   91.9600         2   15.6332
9991  California  258.5760         2   19.3932
9992  California   29.6000         4   13.3200
9993  California  243.1600         2   72.9480

[9994 rows x 4 columns]

In [14]:
df1.to_csv("sales.summary.csv")

In [17]:
#Make a 4*3*2 matrix (NumPy array) containing linearly spaced integers between 100 and 1000.

import numpy as np
n=np.array(np.linspace(100,1000,24)).reshape(4,3,2)
n

array([[[ 100.        ,  139.13043478],
        [ 178.26086957,  217.39130435],
        [ 256.52173913,  295.65217391]],

       [[ 334.7826087 ,  373.91304348],
        [ 413.04347826,  452.17391304],
        [ 491.30434783,  530.43478261]],

       [[ 569.56521739,  608.69565217],
        [ 647.82608696,  686.95652174],
        [ 726.08695652,  765.2173913 ]],

       [[ 804.34782609,  843.47826087],
        [ 882.60869565,  921.73913043],
        [ 960.86956522, 1000.        ]]])

In [18]:
#4

#Print all columns except the first and the last in the above matrix. 
n[:]

array([[[ 100.        ,  139.13043478],
        [ 178.26086957,  217.39130435],
        [ 256.52173913,  295.65217391]],

       [[ 334.7826087 ,  373.91304348],
        [ 413.04347826,  452.17391304],
        [ 491.30434783,  530.43478261]],

       [[ 569.56521739,  608.69565217],
        [ 647.82608696,  686.95652174],
        [ 726.08695652,  765.2173913 ]],

       [[ 804.34782609,  843.47826087],
        [ 882.60869565,  921.73913043],
        [ 960.86956522, 1000.        ]]])

In [19]:
#5

n.mean(axis=1)

array([[178.26086957, 217.39130435],
       [413.04347826, 452.17391304],
       [647.82608696, 686.95652174],
       [882.60869565, 921.73913043]])

In [20]:
#6
n=np.linspace(400,750,8)
n.reshape(2,4)

array([[400., 450., 500., 550.],
       [600., 650., 700., 750.]])

In [22]:
#7
r=np.sum(n)
r

4600.0

In [25]:
#9
df=pd.read_csv("/content/sales.summary.csv")

In [26]:
#10
df.head(5)

   Unnamed: 0       State     Sales  Quantity    Profit
0           0    Kentucky  261.9600         2   41.9136
1           1    Kentucky  731.9400         3  219.5820
2           2  California   14.6200         2    6.8714
3           3     Florida  957.5775         5 -383.0310
4           4     Florida   22.3680         2    2.5164