In [ ]:
import pandas as pd

**Census_2011_using python

In [58]:
df=pd.read_csv("/content/census_2011.csv")

In [59]:
df.columns.tolist

<bound method IndexOpsMixin.tolist of Index(['Unnamed: 0', 'State name', 'District name', 'Population', 'Male',
       'Female', 'Literate', 'Male_Literate', 'Female_Literate', 'SC',
       ...
       'Power_Parity_Rs_90000_150000', 'Power_Parity_Rs_45000_150000',
       'Power_Parity_Rs_150000_240000', 'Power_Parity_Rs_240000_330000',
       'Power_Parity_Rs_150000_330000', 'Power_Parity_Rs_330000_425000',
       'Power_Parity_Rs_425000_545000', 'Power_Parity_Rs_330000_545000',
       'Power_Parity_Above_Rs_545000', 'Total_Power_Parity'],
      dtype='object', length=118)>

In [60]:
df.shape

(640, 118)

In [61]:
df.head()

,Unnamed: 0,State name,District name,Population,Male,Female,Literate,Male_Literate,Female_Literate,SC,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
0,1,JAMMU AND KASHMIR,Kupwara,870354,474190,396164,439654,282823,156831,1048,...,94,588,71,101,172,74,10,84,15,1119
1,2,JAMMU AND KASHMIR,Badgam,753745,398041,355704,335649,207741,127908,368,...,126,562,72,89,161,96,28,124,18,1066
2,3,JAMMU AND KASHMIR,Leh(Ladakh),133487,78971,54516,93770,62834,30936,488,...,46,122,15,22,37,20,14,34,17,242
3,4,JAMMU AND KASHMIR,Kargil,140802,77785,63017,86236,56301,29935,18,...,27,114,12,18,30,19,3,22,7,214
4,5,JAMMU AND KASHMIR,Punch,476835,251899,224936,261724,163333,98391,556,...,78,346,35,50,85,59,8,67,12,629

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 640 entries, 0 to 639
Columns: 118 entries, Unnamed: 0 to Total_Power_Parity
dtypes: int64(116), object(2)
memory usage: 590.1+ KB

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 640 entries, 0 to 639
Columns: 118 entries, Unnamed: 0 to Total_Power_Parity
dtypes: int64(116), object(2)
memory usage: 590.1+ KB

In [64]:
#for i,elem in enumerate(df.columns.tolist()):
  print(i,elem)

IndentationError: ignored

In [65]:
cols=['District name','Literate','Households','Housholds_with_Electric_Lighting','Households_with_Telephone_Mobile_Phone']

In [66]:
k=df[cols]
k

,District name,Literate,Households,Housholds_with_Electric_Lighting,Households_with_Telephone_Mobile_Phone
0,Kupwara,439654,181664,83071,56495
1,Badgam,335649,187839,90190,72197
2,Leh(Ladakh),93770,54394,17250,13836
3,Kargil,86236,48144,15824,10562
4,Punch,261724,147408,62900,36358
...,...,...,...,...,...
635,Mahe,36470,12110,7150,6913
636,Karaikal,154916,69333,47880,38555
637,Nicobars,25332,15958,9301,6669
638,North AND Middle Andaman,78683,40185,18641,19406
639,South Andaman,190266,85532,52479,52025

In [67]:
i=k[k['District name']=='Kurnool']
i

,District name,Literate,Households,Housholds_with_Electric_Lighting,Households_with_Telephone_Mobile_Phone
551,Kurnool,2127161,1090835,816721,572406

In [68]:
i['%Housholds_with_Electric_Lighting']=(i.Housholds_with_Electric_Lighting/i.Households)*100
i

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,District name,Literate,Households,Housholds_with_Electric_Lighting,Households_with_Telephone_Mobile_Phone,%Housholds_with_Electric_Lighting
551,Kurnool,2127161,1090835,816721,572406,74.871177

In [69]:
i['%Households_with_Telephone_Mobile_Phone']=(i.Households_with_Telephone_Mobile_Phone/i.Households)*100
i

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,District name,Literate,Households,Housholds_with_Electric_Lighting,Households_with_Telephone_Mobile_Phone,%Housholds_with_Electric_Lighting,%Households_with_Telephone_Mobile_Phone
551,Kurnool,2127161,1090835,816721,572406,74.871177,52.474114

In [70]:
summary=i.iloc[:,[0,1,5,6]]
summary

,District name,Literate,%Housholds_with_Electric_Lighting,%Households_with_Telephone_Mobile_Phone
551,Kurnool,2127161,74.871177,52.474114

In [71]:

summary.to_csv("summary_census_2011.csv")